DATABASE_URL=postgresql://...
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
VITE_CLOUDINARY_CLOUD_NAME=jvsoftware
VITE_CLOUDINARY_UPLOAD_PRESET=portfolio_unsigned
FRONTEND_URL=https://jvsoftware-mu.vercel.app
